<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.feedback">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_lightning"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_lightning"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_config"
            android:theme="@style/AppTheme">
        <activity android:name="assessment.Activity_Final_Edit"
                  android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".Activity_Homepage"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Signup"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Login"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="assessment.Activity_Realtime_Assessment"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Assessment_Preparation"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Mark_Allocation"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Help"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Criteria"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_About"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_About_New"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Marker_Management"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Student_Management"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Show_Comment_Mark_Allocation"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Assessment"
                android:launchMode="singleTop"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Assessment_Comment"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Display_Mark"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Editable_Individual_Report"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Editable_Group_Report"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Send_Report_Individual"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Send_Report_Group"
                android:screenOrientation="landscape"/>
        <activity
                android:name="assessment.Activity_Review_Report"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Activity_Record_Voice"
                android:screenOrientation="landscape"/>

        <service
                android:name=".RecordingService"
                android:screenOrientation="landscape"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>